<div class="col-lg-10 mx-auto">
    <h1 class="text-center mt-5 mb-4">About HR-Mitra</h1>
    <marquee direction=""><%= 'Hello World!' %></marquee>
<marquee style="direction:up; behavior:scroll; scrollamount:5;">Hello World!</marquee>
    <marquee direction="up" scrollamount="5"><%= render 'shared/dummy_content' %></marquee>
</div>

<%#= link_to 'About Us', about_path, data: {name: 'about-page', resource: 'pages'} %>
<%#= link_to 'Contact Us', contact_us_path, data: {name: 'about-page', resource: 'pages'} %>
<%#= link_to 'Privacy Policy', privacy_policy_path, data: {name: 'about-page', resource: 'pages'} %>
<%#= link_to 'Terms and Conditions', terms_and_conditions_path, data: {name: 'about-page', resource: 'pages'} %>

<%#= render 'shared/links' %>
